{% extends 'dashboardbase.html' %}
{% load static %}

{% block style %}
<style>
.pagination-container {
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
</style>
{% endblock %}

{% block title %}
<title>Affiliates | {{company.name}}</title>
{% endblock %}

{% block pagetitle %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Affiliates</h1>
            </div>
            <div class="breadcrumb-bar align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Affiliates
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="card card-statistics clients-contant">
        <div class="card-header">
            <h3><center>DOWNLINES</center></h3>
        </div>
        <div class="card-body py-0 table-responsive">
            <table class="table clients-contant-table mb-0">
                <thead>
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">DATE JOINED</th>
                        <th scope="col">STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for downline in downlines %}
                    <tr>
                        <td>{{downline.fullname}}</td>
                        <td>{{downline.email}}</td>
                        <td>{{downline.date_joined}}</td>
                        {% if downline.is_active %}
                        <td><a href="javascript:void(0)" class="dot"></a>ACTIVE</td>
                        {% else %}
                        <td><a href="javascript:void(0)" class="dot bg-danger"></a>INACTIVE</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagination-container">
                <div class="pagination-display">
                    <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">Page {{ downlines.number }} of {{ downlines.paginator.num_pages }}</div>
                </div>
                <div class="pagination-control">
                    <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                        <ul class="pagination">
                            {% if downlines.has_previous %}
                            <li class="paginate_button page-item previous" id="datatable_previous"><a href="?page={{ downlines.previous_page_number }}" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                            {% else %}
                            <li class="paginate_button page-item previous" id="datatable_previous"><a href="javascript:void(0)" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                            {% endif %}
                            <li class="paginate_button page-item active"><a href="javascript:void(0)" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">{{ downlines.number }}</a></li>
                            {% if downlines.has_next %}
                            <li class="paginate_button page-item next" id="datatable_next"><a href="?page={{ downlines.next_page_number }}" aria-controls="datatable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                            {% else %}
                            <li class="paginate_button page-item next" id="datatable_next"><a href="javascript:void(0)" aria-controls="datatable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}