{% extends 'dashboardbase.html' %}
{% load static %}

{% block title %}
<title>Change password | {{company.name}}</title>
{% endblock %}

{% block pagetitle %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Change Password</h1>
            </div>
            <div class="breadcrumb-bar align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Password update
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-statistics">
            <div class="card-body p-0">
                <div class="row no-gutters">
                    <div class="col-xl-6 col-md-6 col-12 border-t border-right">
                        <div class="page-account-form">
                            <div class="form-titel border-bottom p-3">
                                <h4 class="mb-0 py-2">Update password</h4>
                            </div>
                            <div class="p-4">
                                <form method="post" autocomplete="off">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        {{form.as_p}}
                                    </div>
                                    <button class="btn btn-primary mt-20">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}