{% extends 'dashboardbase.html' %}
{% load static % }

{% block title %}
<title>Password reset complete | {{company.name}}</title>
{% endblock %}

{% block pagetitle %}
<div class="row">
    <div class="col-md-12 m-b-30">
        <!-- begin page title -->
        <div class="d-block d-lg-flex flex-nowrap align-items-center">
            <div class="page-title mr-4 pr-4 border-right">
                <h1>Password reset complete</h1>
            </div>
            <div class="breadcrumb-bar align-items-center">
                <nav>
                    <ol class="breadcrumb p-0 m-b-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)"><i class="ti ti-home"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            Reset complete
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- end page title -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-12">	
    <div class="mt-20">
        <h4>Your password has been set</h4><br/>
        <p style="font-size: 16px;">You may go ahead and log in your account now</p>
        <p><a style="color:blue" href="{% url 'mining:login' %}">Log in</a></p>
    </div>
</div>
{% endblock %}         