{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Testimonials | {{company.name}}</title>
{% endblock %}

{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>Reviews</h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>
                        <li>Reviews</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
<!-- Start testimonials Area -->
<div class="reviews-area review-page-area page-padding-2">
    <div class="container">
        <div class="row">
            <div class="reviews-content ">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="{% static 'img/review/1.jpg' %}" alt="">
                                <div class="guest-details">
                                    <h4>Hamilton</h4>
                                    <span class="guest-rev">Clients - <a href="#">General customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="{% static 'img/review/2.jpg' %}" alt="">
                                <div class="guest-details">
                                    <h4>Angel Lima</h4>
                                    <span class="guest-rev">Clients - <a href="#">General customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="{% static 'img/review/3.jpg' %}" alt="">
                                <div class="guest-details">
                                    <h4>Arthur Doil</h4>
                                    <span class="guest-rev">Clients - <a href="#">General customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="{% static 'img/review/4.jpg' %}" alt="">
                                <div class="guest-details">
                                    <h4>Gabriel Hank</h4>
                                    <span class="guest-rev">Clients - <a href="#">General customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="{% static 'img/review/5.jpg' %}" alt="">
                                <div class="guest-details">
                                    <h4>Farmila</h4>
                                    <span class="guest-rev">Clients - <a href="#">General customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-testi">
                        <div class="testi-text">
                            <div class="clients-text">
                                <div class="client-rating">
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                    <a href="#"><i class="ti-star"></i></a>
                                </div>
                                <p>When replacing a multi-lined selection of text, the generated dummy text maintains the amount of lines. When replacing a selection. help agencies.</p>
                            </div>
                            <div class="testi-img ">
                                <img src="{% static 'img/review/6.jpg' %}" alt="">
                                <div class="guest-details">
                                    <h4>Timeo Poll</h4>
                                    <span class="guest-rev">Clients - <a href="#">General customer</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End single item -->
            </div>
        </div>
    </div>
</div>
<!-- End testimonials end -->
{% endblock %}