{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Team | {{company.name}}</title>
{% endblock %}

{% block content %}
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline">
                        <h3>Expert team </h3>
                    </div>
                    <ul class="breadcrumb-bg">
                        <li class="home-bread">Home</li>
                        <li>Our team</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
    <!-- Team area start -->	
<div class="team-page-area page-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Our experts member</h3>
                    <p>Help agencies to define their new business objectives and then create professional software.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-member text-center">
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t1.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Hamilton</a></h5>
                            <p>Software developer</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t2.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Timeo poll</a></h5>
                            <p>Syber security</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t3.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Angle Lilou</a></h5>
                            <p>Server expert</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t4.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Louise</a></h5>
                            <p>Software developer</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t5.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Gabriel hank</a></h5>
                            <p>web developer</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t6.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Arnold loil</a></h5>
                            <p>Software developer</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t7.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Lania Inès</a></h5>
                            <p>Syber security</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'img/team/t8.jpg' %}" alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h5><a href="#">Arthur doil</a></h5>
                            <p>Web developer</p>
                            <ul class="team-hover">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single team member -->
            </div>
        </div>
    </div>
</div>
<!-- team area end -->
{% endblock %}